.Navbar{
    box-shadow: 0px 0px 10px #c4c4c4;
}
.logo {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 60.39px;
    height: 54.36px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end; /* Выравнивание элементов справа */
    width: 100%;
  }
  
  .navbar-nav .nav-link {
    margin: 0 15px; /* Расстояние между ссылками */
  }
  

.heart{
    width: 24px;
    height: 24px;
    margin: 17px 18px 17px 17px;
}

.notifications{
    width: 24px;
    height: 27px;
    margin: 0px 18px 0px 0px;
}

.user_icon{
    width: 50px;
    height: 50px;
}

.user{
    margin: 0px 50px 0px 0px;
}

.logo.d-inline-block.align-top{
    margin: 0px 0px 0px 50px;
}

.d-inline-block {
    display: inline-block !important;
}

.align-top {
    vertical-align: top !important;
}

.navbar.navbar-expand-md.navbar-light.bg-light{
    height: 80px;
}