footer {
  border-top: 1px solid #000000af;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__item:first-child {
  margin: auto;
  align-items: center;
}

.footer__item h4 {
  font-weight: 600;
  font-size: 20px;
}

.footer__link:hover {
  color: #007bff;
}
