.side_menu {
  margin: 32px;
  width: 240px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103),
    -5px -5px 5px rgba(0, 0, 0, 0.103);
}

.user__id {
  font-size: 14px;
  color: rgba(66, 64, 65, 1);
}

.side_menu__link {
  border-radius: 4px;
  padding: 8px;
}

.side_menu__link:hover {
  background-color: rgba(220, 220, 220, 1);
}

.side_menu__button {
  width: 72px;
  border: none;
  text-align: start;
  background-color: inherit;
}

.side_menu__button:hover {
  color: rgb(34, 33, 33);
  background-color: inherit;
}
